@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(180deg, #F8F7F4, #a3d900d2);
    display: flex;
    width: 100vw;
    height: 245px;
    align-items: center;
    padding: 20px;
    gap: 70px;
    text-align: center;
    padding: 20px;
    padding-left: 0px;
    box-shadow: 0px 3px 5px #749b00d2;
    justify-content: center;
    overflow: hidden;
}

header > img {
    width: 200px;
    box-shadow: 0px 0px 5px gray;
    margin-left: 10px;
}

body {
    background-color: lightgray;
}

#texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.144);
}

#texto > h2 {
    padding-bottom: 20px;
}

#textp > p {
    font-family: Arial, Helvetica, sans-serif;
}

#final {
    background-color: black;
}

main {
    display: flex;
}

.navbar {
    display: flex;
    background-color: #333333;
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px gray;
}

.pags > li {
    padding: 15px 0px;
    text-align: center;
    list-style: none;
}

.pags a {
    display: block;
    text-decoration: none;
    color: lightgray;
    padding: 15px 15px;
}

.pags a:hover {
    background-color: #4b4b4b;
    color: white;
    border-radius: 10px;
    transition: 0.3s ease;
}

.formulario {
    min-height: 422px;
    min-width: 418px;
    flex: 1;
}

.formulario > div {
    display: block;
    background-color: white;
    height: 90%;
    width: 90%;
    max-width: 900px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px gray;
}

.formulario h2 {
    text-align: center;
    padding: 30px;
}

.formulario h3 {
    text-align: center;
    padding: 60px;
}

.formulario p {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
}

footer {
    display: flex;
    background-color: black;
    height: 165px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 100px;
    margin: 20px;
    border-radius: 50%;
}

footer div {
    display: block;
    
}

footer p {
    color: lightgray;
    padding: 5px;
    text-align: center;
}